*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.grid {
    display: grid;
    grid-template-columns:  18% 82%;
    grid-template-areas:
    "header .content"
  }

.content{
    background: linear-gradient(#010101 5%, #4f9bd9) !important;

}
/* Header avec css grid de 18% */
header{
    display: flex;
    justify-content: center;
    height: 100%;
    color: black;
    background-color: #fdfdfd;
    position: relative;
}

nav{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1{
    font-size: 35px;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

ul li{
    list-style: none;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

header img{
    position: absolute;
    top: -60%;
    transform: translateY(-60%);
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin-top: 20%;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.50);
}

a{
    color: #000;
    text-decoration: none;
    letter-spacing: 0.15em;
    position: relative;
}

/* Underline au hover pour les liens du header*/
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  /* personalisation de icons */
  ion-icon{
    color: black;
    font-size: 35px;
  }

  .icons{
      position: absolute;
      top: 100%;
      display: flex;
      justify-content: space-evenly;
      width: 70%;
      padding-top: 50px;
  }

/* Contenu de la page */

/* Première page de présentation */
.propos{
    height: 100vh;
    background: url("../static/john-towner-JgOeRuGD_Y4-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.propos h1{
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
}

.parapropos{
    width: 70%;
}

.parapropos p{
    font-size: 23px;
    line-height: 45px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #fff;
}

.name{
    animation: floatyword;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    color: #17A4FF;
}

/* page compétence */
.skills-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.skill-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.skill{
    width: 45%;
    color: #fff;
    display: inline-block;
    padding-top: 6%;
    padding-bottom: 6%;
}

.skill h3{
    font-size: 30px;
    font-weight: 400;
}

.skill p{
    font-size: 20px;
    text-align: justify;
    font-weight: 300;
}

.title-skill{
    display: flex;
    align-items: center;
}

.title-skill ion-icon{
    color: white;
    padding-right: 10px;
}

.skills-section img{
    width: 12%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.moon{
    left: 80%;
    top: 10%;
    transform: rotatey(180deg);
    animation: scale;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.jupiter{
    left:40%;
    top: 75%;
    animation: floaty;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.neptune{
    left: 7%;
    top: 30%;
    animation: floaty;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



.star{
    left: 65%;
    top: 10%;
    width: 3% !important;
    animation: scale;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.star1{
    left: 65%;
    top: 85%;
}

.star2{
    left: 30%;
    top: 45%;
}

.rocket{
    width: 5% !important;
    left: 47%;
    top: 47%;
    animation: floaty;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* page projets */
.projet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

.projet1 ,.projet2{
    width: 28%;
    height: 35vh;
    position: relative;
}

.projet img{
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.cover{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.cover h3{
    font-family: poppins;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

.cover:hover{
    opacity: 0;
    transition: 0.8s;
    cursor: pointer;
}

/* Page Stage */
.stage{
    width: 100%;
    display: flex;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    color: white;
    position: relative;
}

.cloud{
    all: unset;
    left: 3%;
    top: -20%;
    animation: floatx;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 12% !important;
    height: auto !important;
    position: absolute;
    z-index: 0;
}

.cloud2{
    left: 85%;
    top: 80%;
    animation: floatx;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 12% !important;
    height: auto !important;
    position: absolute;
    z-index: 0;
}

.plane{
    left: 5%;
    top: 130%;
    animation: plane;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 8% !important;
    height: auto !important;
    position: absolute;
    z-index: 0;
}

.kite{
    left: 85%;
    top: 200%;
    animation: kite;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 8% !important;
    height: auto !important;
    position: absolute;
    z-index: 0;
}

.pigeon{
    left: 5%;
    top: 300%;
    animation: pigeon;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 8% !important;
    height: auto !important;
    position: absolute;
    z-index: 0;
}

.stage p{
    padding: 0;
    font-size: 21px;
    width: 60%;
}

.stage img{
    width: 500px;
    height: 200px;
    object-fit: contain;
}

.mission{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    color: white;

}

.mission article{
    height: 30%;
    width:60%;
    margin: auto;
}

.mission p{
    font-size: 20px;
    padding-top: 0;
    text-align: justify;
}

.title-mission{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
}

.title-mission ion-icon{
    font-size:32px;
    color: grey;
}

.mission h3{
    font-family: Poppins;
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding-left: 5px;

}

/* page de veille */
.veille{
    margin: auto;
    height: 100vh;
    width: 100%;
    color: #fff;
    padding-top: 2.5%;
    position: relative;
}

.veille p{
    font-size: 20px;
}

/* .veille img{
    width: 12%;
    height: auto;
    position: absolute;
    z-index: 0;
} */

.veillecontent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    height: 100%;
    width: 65%;
}

.veillintro{
    font-weight: normal;
    margin: auto;
}

.ccl-veille{
    display: flex;
    justify-content: center;
    margin: auto;
}

.ccl-veille p{
    font-weight: normal;
}

.integration{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
}

.vod2{
    flex-direction: row-reverse;
}

.integration p{
    max-width: 45%;
    font-weight: 400;
    text-align: justify;
}

.integration iframe{
    max-width: 45%;
}

.resume{
    width: 60%;
}

/* page windows */
.projetwindowspropos{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.projetwindowspropos p{
    color: white;
    text-align: justify;
    margin: auto;
    max-width: 40%;
    font-size: 23px;
}

.projetwindowspropos img{
        width: 40%;
        height: 35%;
}

.projetwindowspropos .cloud{
    all: unset;
    left: 70%;
    top: 78%;
    animation: floatx;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 12% !important;
    height: auto !important;
    position: absolute;
    z-index: 0;
}

.projetwindowspropos .cloud2{
    all: unset;
    left: 10%;
    top: 60%;
    animation: floatx;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 12% !important;
    height: auto !important;
    position: absolute;
    z-index: 0;
}

.projetwindowspropos .star{
    position: absolute;
}

.projetwindowspropos .star1{
    position: absolute;
    top: 30%;
    left: 3%;
}

.projetwindowspropos .star2{
    position: absolute;
}

.projetwindowspropos .jupiter{
    position: absolute;
    top: 8%;
    left:80%;
    width: 12%;
}

.projetwindowspropos .neptune{
    position: absolute;
    top: 0;
    width: 10%;
}

.projetdescription{
    width: 70%;
    margin: auto;
}

.projetdescription p{
    color: white;
    font-size: 20px;

}

.projetdescription img{
    display: inherit;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 70%;
    border-radius: 50px;
}

.red{
    color: #810000;
}

.green{
    color: #96bb7c;
}
@media(max-width: 728px) {
    .grid {
        display: block;
    }
    header{
        display: none;
    }
}

@media(max-width: 500px) {
    .propos p{
        font-size: 15px;
        line-height: 25px;
        text-align: justify;
    }
    .parapropos{
        width: 90%;
    }
    .skills-section{
        flex-direction: column;
        height: 100%;
    }
    .skill{
        width: 100%;
    }
}

@keyframes floaty {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes plane {
	0% {
		transform: translate3d(0px, 0px, 0px);

	}
	50% {
        transform: translate3d(-20px, 30px, 0px);

	}
	100% {
        transform: translate3d(0px, 0px, 0px);
	}
}


@keyframes kite {
	0% {
		transform: translate3d(0px, 0px, 0px);

	}
	50% {
        transform: translate3d(-30px, 30px, 0px);

	}
	100% {
        transform: translate3d(0px, 0px, 0px);
	}
}


@keyframes pigeon {
	0% {
		transform: translate3d(0px, 0px, 0px);

	}
	50% {
        transform: translate3d(0px, 15px, 0px);

	}
	100% {
        transform: translate3d(0px, 0px, 0px);
	}
}

@keyframes floatx {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-20px);
	}
	100% {
		transform: translateX(0px);
	}
}


@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes floatyword {
	0% {
		transform: translatey(0px);
	}
    25% {
		transform: translatey(4px);
	}
	50% {
		transform: translatey(0px);
	}
    75% {
		transform: translatey(-4px);
	}
    100%{
        transform: translatey(0px);
    }
}